---
import Main from "../../components/main";
import challenges from "../../data/challengeList.json";
import "../../globals.css";
import Layout from "../../layouts/Layout.astro";

const titleToRef = (title: string) => {
	return title
		.replace(/\s+/g, "") // remove spaces
		.replace(/^./, (match) => match.toLowerCase()); // replace first letter to lowercase
};

const { slug } = Astro.params;
const { pathname } = new URL(Astro.request.url);
if (slug === undefined) return Astro.redirect("/404");
const challenge = challenges.All.All.some(
	(challenge) => titleToRef(challenge[0]) === slug
);
if (!challenge) return Astro.redirect("/404");

const runtime = Astro.locals.runtime;
const AUTH_SECRET =
	runtime === undefined ? import.meta.env.AUTH_SECRET : runtime.env.AUTH_SECRET;
console.log("AUTH_SECRET:", AUTH_SECRET);
// console.log("SESSION:", session);
const session = null;
---

<Layout title="Welcome to Astro.">
	<main>
		{
			session === null ? (
				<Main client:only="react" {pathname} slug={slug} user={null} />
			) : (
				<Main client:only="react" {pathname} slug={slug} user={session.user} />
			)
		}
	</main>
</Layout>

<style>
	main {
		margin: auto;
	}
</style>
